/*COLORS*/
/*FONTS*/
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 100;
}

button {
  border: none;
  background-color: transparent;
}

main {
  margin: 40px 20px;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.header nav {
  position: absolute;
  margin: 22px;
  font-size: 20px;
}
.header--disabled {
  display: none;
}
.header__logo {
  padding: 20px 0 10px 0;
  text-align: center;
}
.header__logo > img {
  width: 170px;
}

.footer {
  background-color: #383838;
  color: white;
  padding: 20px;
}
.footer__logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.footer__liste {
  padding: 0;
}
.footer__liste i {
  width: 10px;
  font-size: 10px;
  margin-right: 10px;
}
.footer__liste li {
  margin-top: 7px;
}
.footer__liste a {
  color: white;
}

@media screen and (min-width: 767px) {
  .footer__liste {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
  }
}
.btn {
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  font-weight: 500;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.fa-heart {
  color: #000;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.fa-heart:hover {
  color: white;
}

.fa-heart::after {
  position: absolute;
  content: "\f004";
  font-weight: 900;
  top: -1;
  right: 0;
  bottom: 0;
  left: -1;
  background-image: linear-gradient(170deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.fa-heart:hover::after {
  opacity: 1;
  z-index: 2;
  font-size: 30px;
}

.card {
  border-radius: 20px;
  position: relative;
  margin: 0 3px 20px 3px;
  min-width: 300px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card__bandeau {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
}
.card__bandeau--disabled {
  display: none;
}
.card__image {
  height: 150px;
  overflow: hidden;
}
.card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__infos {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}
.card__infos__like {
  font-size: 30px;
  margin-bottom: auto;
  font-weight: 500;
}
.card__infos__texte > * {
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 957px) {
  .card {
    min-width: 360px;
  }
}
@media screen and (max-width: 460px) {
  .card {
    min-width: 100px;
  }
}
@media screen and (min-width: 2000px) {
  .card {
    min-width: 450px;
  }
}
.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  color: #383838;
}
.localisation__logo {
  margin: 15px 15px 15px 0;
}
.localisation__texte {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 900;
  margin-right: 20px;
}

.presentation {
  text-align: center;
  background-color: #F7F7F7;
  padding: 40px 30px;
}
.presentation h1 {
  margin: auto;
  max-width: 250px;
}
.presentation h2 {
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .presentation h1 {
    max-width: 100%;
  }
}
.bandeau {
  background-color: #F7F7F7;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  justify-content: center;
  border-radius: 20px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 15px;
}
.bandeau:hover {
  background-color: #eaedfb;
}
.bandeau:hover .bandeau__logo {
  color: #9356DC;
}
.bandeau__puce {
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: #9356DC;
  border-radius: 50px;
  width: 19px;
  position: absolute;
  left: -10px;
  padding-top: 2px;
}
.bandeau__logo {
  color: #919191;
  position: absolute;
  left: 10%;
  font-size: 15px;
}
.bandeau__texte {
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (min-width: 767px) {
  .fonctionnement-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bandeau {
    padding-left: 40px;
    padding-right: 20px;
  }
  .bandeau__logo {
    left: 20px;
  }
}
@media screen and (min-width: 1270px) {
  .fonctionnement-liste {
    justify-content: flex-start;
    gap: 60px;
  }
}
#liste-restaurants {
  background-color: #F7F7F7;
  padding: 40px 20px;
}

@media screen and (min-width: 767px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
