// .bande{
//     background-color: rgb(240, 127, 255);
//     display: flex;
//     justify-content: space-between;
//     border-radius: 15px;
//     padding: 10px;
//     &__titre{
//         h4, p{
//             margin:0;
//         }
//         h4 {
//             font-size: 18px;
//             margin-bottom: 5px;
//         }
//         p{
//             font-size: 15px;
//         }
//     }
//     &__check{
//         display: none;
//         background-color: $tertiary-color;
//         border-radius: 0 15px 15px 0;
//         position: absolute;
//         right: 15px;
//         height: 63px;
//         color: white;
//         font-size: 22px;
//         align-self: center;
//         text-align: center;
//         width: 60px;
//         margin-top: auto;
//         vertical-align: middle;
//         i{
//             padding-top: 20px;
//             transform: rotate(0.5turn);
//             vertical-align: middle;
//         }


//     }
//     &__prix{
//         font-weight: 900;
//         margin-right: 10px;
//         align-self: flex-end;
//         margin: auto;
//     }

//     &:hover{
//         .bande{
//             &__prix{
//                 background-color: black;
//             }
//             &__check{
//                 display: block;
                
//             }
            
//         }
//     }
// }

// .bande{
//     background-color: rgb(240, 127, 255);
//     display: flex;
//     justify-content: space-between;
//     border-radius: 15px;

//     &__titre{
//         margin-top: auto;
//         margin-bottom: auto;
//         h4, p{
//             margin:0;
//         }
//         h4 {
//             font-size: 18px;
//             margin-bottom: 5px;
//         }
//         p{
//             font-size: 15px;
//         }
//     }
//     &__check{
//         transform: scaleX(0);
//         transform-origin: right;
//         background-color: $tertiary-color;
//         border-radius: 0 15px 15px 0;
//         height: 63px;
//         color: white;
//         font-size: 22px;
//         text-align: center;
//         width: 60px;
//         height: 65px; 
//         line-height: 65px; 
//         white-space: nowrap;
//     }
//     &__prix{
//         font-weight: 900;
//         margin-right: 10px;
//         align-self: flex-end;
//         margin-bottom: 12px;
//     }

//     &:hover{
//         .bande{
//             &__prix{

//             }
//             &__check{
//                 transform: scaleX(1);
//                 transition: transform 330ms ease-in-out;
//                 i{
//                     transform: rotate(1turn);
//                     transition: transform 330ms ease-in-out;
//                 }
//             }
            
//         }
//     }
// }

.bande{
        background-color: rgb(240, 127, 255);
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
    
        &__titre{
            margin-top: auto;
            margin-bottom: auto;
            h4, p{
                margin:0;
            }
            h4 {
                font-size: 18px;
                margin-bottom: 5px;
            }
            p{
                font-size: 15px;
            }
        }
        &__check{
            // transform: translateX(80px);
            transform: scale(0, 1);
            transform-origin: right;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            height: 63px;
            color: white;
            font-size: 22px;
            text-align: center;
            width: 60px;
            height: 65px; 
            line-height: 65px; 
            white-space: nowrap;
        }
        &__prix{
            font-weight: 900;
            margin-right: 10px;
            align-self: flex-end;
            margin-bottom: 12px;
        }
    
        &:hover{
            .bande{
                &__prix{
    
                }
                &__check{
                    transform: scaleX(1);
                    transform-origin: right ;
                    transition: transform 330ms ease-in-out;
                    i{
                        transform: rotate(1turn);
                        transition: transform 330ms ease-in-out;
                    }
                }
                
            }
        }
    }