.btn {
  padding: 15px 20px;
  border-radius: 50px;
  background: $gradient;
  font-weight: 500;
  color: white;
  box-shadow: $light-shadow;
  opacity: 1;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: $dark-shadow;
  }
}
