.btn{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(170deg,$secondary-color, $primary-color);
    font-weight: 500;
    color: white;
    @include primary-box-shadow;

    &:hover{
        
    }
}