.card {
  border-radius: 20px;
  position: relative;
  margin: 0 3px 20px 3px;
  display: block;
  background-color: white;
  box-shadow: $light-shadow;
  @include desk-only {
    width: 480px;
  }
  @include tablet-desk-only {
    min-width: 350px;
  }
  &__bandeau {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: $font-size-medium;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 40);
    &--disabled {
      display: none;
    }
  }
  &__image {
    height: 150px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }

  &__like {
    position: absolute;
    right: 10px;
    top: 85px;
  }

  &__titre {
    padding: 15px 20px 5px 15px;
    > * {
      margin: 0;
      margin-bottom: 7px;
    }
  }
}
