.card {
    border-radius: 20px;
    position: relative;
    @include primary-box-shadow;
    &__bandeau{
        position: absolute;
        top:20px;
        right: 10px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -1px;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $tertiary-color;
        color: darken($color: $tertiary-color, $amount: 40);
        &--disabled{
            display: none;
        }
    }
    &__image{
        height: 150px;
        overflow: hidden;
        img{
            height:100%;
            width:100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0 ;
        }
    }
    &__infos{
        display: flex;
        justify-content: space-between;
        margin: 10px 20px 10px 20px;
        &__like{
            font-size: 30px;
            margin-bottom: auto;
            font-weight: 500;
        }
        &__texte>*{
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

