.loader {
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.822);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // opacity: 1;
  padding-top: 100px;
  animation: timing-loader 3000ms both;

  &__back {
    background-color: rgba(0, 0, 0, 0.9);
    background-color: rgba(140, 233, 182, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.151);
    margin: auto;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
  }
  &__spin {
    margin: auto;
    width: 20px;
    height: 30px;
    border-radius: 20% 20% 0 0;
    transform-origin: 10px 50px;
    background-color: $primary-color;
    animation: turn-bar 1400ms linear infinite;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 10px;
      height: 30px;
      border-radius: 20% 20% 0 0;
      transform-origin: 10px 50px;
      background-color: $secondary-color;
      animation: turn-bar 1400ms linear infinite;
    }
  }

  &__bull {
    margin: auto;
    margin-top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    // background: radial-gradient($tertiary-color, darken($tertiary-color, 50));
    background-color: black;
    // animation: flash 500ms infinite ;
  }
}

@keyframes turn-bar {
  0% {
    transform: rotate(0deg) scale(1, 1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(180deg) scale(0.7, 1.3);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
    animation-timing-function: ease-out;
  }
}

@keyframes timing-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }

  90% {
    opacity: 0.9;
    z-index: 10;
    animation-timing-function: ease-in-out;
  }

  100% {
    opacity: 0;
    z-index: -1;
    animation-timing-function: ease-in-out;
  }
}
