.bandeau{
    background-color: $primary-background-color;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    justify-content: center;
    border-radius: 20px;
    margin-left: 10px;
    @include primary-box-shadow;
    margin-bottom: 15px;
    
    &:hover{
        background-color: lighten($color: adjust-hue($color: $primary-color, $degrees: 320), $amount: 35);

        .bandeau__logo{
            color: $primary-color;
        }
    }
    
    &__puce{
        color: white;
        text-align: center;
        font-size: 15px;
        background-color:$primary-color;
        border-radius: 50px;
        width: 19px;
        position: absolute;
        left: -10px;
        padding-top: 2px;
    }
    &__logo{
        color: darken($color: $primary-background-color, $amount: 40);
        position: absolute;
        left: 10%;
        font-size: 15px;
    }
    
    &__texte{
        font-weight: 500;
        white-space: nowrap;
    }
}

@media screen and (min-width: 767px){
    .fonctionnement-liste{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main{
        // margin: 40px 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .bandeau{
        padding-left: 40px;
        padding-right: 20px;
        &__logo{
            left:20px
        }
    }
}

@media screen and (min-width: 1270px){

    main{
        margin: 40px 300px;
    }
}