#liste-restaurants {
  background-color: $primary-background-color;
  padding: 40px 20px;
}

.restaurants {
  @include tablet-desk-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.margin-desk {
  @include reducted-width-center;
}
