.presentation{
    text-align: center;
    background-color: $primary-background-color;
    padding:40px 30px;
    h1{
        margin: auto;
        max-width: 250px;
        @include tablet-desk-only {
            max-width: 100%;
        }
    }
    h2{
        margin-bottom: 30px;
    }
}
