@mixin desk-only {
  @media screen and (min-width: map-get($breakpoints, desk)) {
    @content;
  }
}

@mixin tablet-desk-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin reducted-width-center {
  @include tablet-desk-only {
    max-width: $subwidth-medium;
    margin: auto;
  }
  @include desk-only {
    max-width: $subwidth-large;
    margin: auto;
  }
}
