/*COLORS*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-background-color: #f7f7f7;
$gradient: linear-gradient(170deg, $secondary-color, $primary-color);

/*SHADOWS*/
$light-shadow: rgba(0, 0, 0, 0.2) 0 2px 20px -3px,
  rgba(0, 0, 0, 0.05) 0 4px 10px -2px;
$dark-shadow: rgba(0, 0, 0, 0.6) 0 2px 20px -3px,
  rgba(0, 0, 0, 0.2) 0 4px 10px -2px;
/*FONTS*/
$title-font-family: Shrikhand, Arial, Helvetica, sans-serif;
$text-font-family: Roboto, Arial, Helvetica, sans-serif;
$font-size-medium: 15px;

/*BREACKPOINT*/
$breakpoints: (
  mobile: 370px,
  tablet: 767px,
  desk: 1163px,
);

/*WIDTH*/
$subwidth-medium: 800px;
$subwidth-large: 1000px;
